/* Bootstrap color scheme
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
*/


body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333;        /* dark skin */
    color: #ddd;                   /* dark skin */
}

.status-bar {
    height: 50px;
    min-height: 50px;
    background-color: #222;        /* dark skin */
    border-color: #666;            /* dark skin */
}
.nav-tabs {
    border-bottom: 1px solid #666; /* dark skin */
}

.nav>li>a {
    color: #59c;                   /* dark skin */
}

.modal-content {
  color: #333;                     /* dark skin */
  background-color: #eee;          /* dark skin */
}
.status-err-bg {
  /* background-color: #f2dede;    /* dark skin */
}

ul.pointer a {
  cursor: pointer;
}

.status-msg {
    font-weight: bold;
}

.error-msg {
    font-weight: bold;
    color: #d9534f;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/* for icons with max size 160x160
   222px = 164px + 2 * 25px + (2px + 2px) * 2
*/
div.dia {
  width: 222px;
  height: 222px;
  margin: 2px;
  padding: 2px;
  color: #666;
}

.unmarked {
  background-color: #e0e0e0;
}

.marked {
  background-color: #f2dede; /* #fcf8e3; /* #ffc0a0;*/
}

img.curmarked {
  border: 3px solid #d9534f; /* #f0f000; */
}

.imgmark {
  border: 2px solid #666; /* dark skin */ /*  #a0a0a0; */
}

.colmark {
  border: 2px solid #a00;  /* dark skin */ /* #d9534f; /* #800000; */
}

div.dia-top {
  height: 25px;
  width: 100%;
  text-align: center;
}

div.dia-mark {
  height: 15px;
  min-width: 15px;
  line-height: 15px;
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
  float: right;
  color: #d9534f; /* #800000; */
  /* border: 1px solid blue; /* test */
}

div.dia-name {
  height: 15px;
  line-height: 15px;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
  float: left;
  /* border: 1px solid green; /* test */
}
/* for icons with max size 160x160
   164px = 160px + 2 * 2px (border)
*/
div.dia-img {
  line-height: 164px;
  height: 164px;
  width:164px;
  margin: auto;
  text-align: center;
  /* background-color: #ffffe0; */
  /* cursor: pointer; /* better set when envent handler is added */
}

.dia-src {
  border: 2px solid #c0c0c0;
}

div.dia-bot {
  height: 25px;
  width: 100%;
  text-align: right;
  padding-right: 2px;
}

.prototype {
  /* display: block!important; /* */
  /* */ display: none!important; /* */
}

.no-write  {}
.no-sort   {}
.no-delete {}

/* adjust the width if longer names for keys are added to meta data modal*/
.metadata-key {
  float: left;
  width: 9ex;
}

table.metadata-table {
  /* modal for viewing meta data */
}

table.metadata-table th {
  vertical-align: text-top;
  padding-right: 2ex;
}

/* marker classes for dia buttons */
.dia-btn-view   {}
.dia-btn-meta   {}
.dia-btn-title  {}
.dia-btn-colimg {}
.dia-btn-group  {}

#navbar button:focus { outline: none; }

.coltab-readonly {
  color: #d9534f;
}

.modal-carousel {
  min-width: 1400px;
  min-height: 1050px;
}

/* align and center an image in a fixed size box */

.img-box {
  width: 1400px;
  height: 1050px;
  position: relative;
}

.img-box > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
