/* fonts, colors, cursor, padding, visibility */

body {
  font-family:  Verdana, sans-serif;
}

body.album, body.text {
  color:             white;   /*#ff0000;*/
  background-color : #333333; /*#666666;*/
  overflow:          auto;
}

body.picture {
  color:                 white;   /*#ff0000;*/
  background-color:      #333333; /*#666666;*/
  background-repeat:     no-repeat;
  background-position:   center;
  background-attachment: fixed;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color:           #ffff00;
}

a:visited {
  text-decoration: none;
  color:           #ffff00;
}

a:hover {
  text-decoration: none;
  color:           #ff9900;
}

a:active {
  text-decoration: none;
  color:           #ff0000;
}

a:focus {
  text-decoration: none;
  color:           #ff0000;
}

td.head2 div.title, td.head2 div.subtitle, td.head2 div.resources {
  color: #bbbbbb ; /*white;*/ /* #300008; */  /*#002060;*/
}


.title, .subtitle, .resources .info, .back, .forward, .up {
  color:            white; /* #300008; */  /*#002060;*/
  background-color: transparent;
}

.title, .back, .forward, .up {
  font-size:   40px;
  font-weight: bold;
}

.subtitle {
  font-size:   28px;
  font-weight: bold;
}

.resources {
  font-size:   18px;
  font-weight: bold;
}

.info {
  font-size: 18px;
}

.back, .forward, .up {
  text-align:     center;
  vertical-align: middle;
}

.title-area, .info-area {
  background-color: transparent;
  cursor:           text;
}

/* visibility of navigation and info boxes */

a.back span, a.forward span, a.up span {
  visibility: hidden;
}

a.back:hover span, a.forward:hover span, a.up:hover span {
  visibility: visible;
}

/* div.title-area:hover div.title-area-line, div.info-area:hover div.info-area-content, */

/* if colors for dialog background areas change, update colors for icon generation in Makefile */

a.back:hover {
  visibility:       visible;
  opacity:          0.6;
  background-image: url(/fix-75x75/assets/icons/left.jpg);
}

a.forward:hover {
  visibility:       visible;
  opacity:          0.6;
  background-image: url(/fix-75x75/assets/icons/right.jpg);
}

a.up:hover {
  visibility:       visible;
  opacity:          0.6;
  background-image: url(/fix-75x75/assets/icons/up.jpg);
}

table.info tr th {
  text-align:     right;
  vertical-align: top;
  padding-right:  .5em;
}

table.info tr td {
  text-align:     left;
  vertical-align: top;
  padding-left:   .5em;
  overflow:       hidden;
}

/* positioning and size */

body {
  position: absolute;

  margin:   0px;
  border:   0px;
  padding:  0px;
}

body.picture-2560x1440 {
  width:  2560px;
  height: 1440px;
}

body.picture-1920x1200 {
  width:  1920px;
  height: 1200px;
}

body.picture-1600x1200 {
  width:  1600px;
  height: 1200px;
}

body.picture-1400x1050 {
  width:  1400px;
  height: 1050px;
}

body.picture-1280x800 {
  width:  1280px;
  height:  800px;
}

body.album-2560x1440 {
  width:        2530px;
  height:       auto;
  margin-left:  15px;
  margin-right: 15px;
}

body.album-1920x1200 {
  width:        1890px;
  height:       auto;
  margin-left:  15px;
  margin-right: 15px;
}

body.album-1600x1200 {
  width:        1570px;
  height:       auto;
  margin-left:  15px;
  margin-right: 15px;
}

body.album-1400x1050 {
  width:        1380px;
  height:       auto;
  margin-left:  10px;
  margin-right: 10px;
}

body.album-1280x800 {
  width:        1250px;
  height:       auto;
  margin-left:  5px;
  margin-right: 5px;
}

td.icon-fix-160x120 {
  padding:       0px;
  padding-right: 2px;
}

td.icon-fix-140x105 {
  padding:       0px;
  padding-right: 1px;
}

td.icon-fix-120x90 {
  padding:       0px;
  padding-right: 2px;
}

div.picture {
  width:          100%;
  height:         100%;
  text-align:     center;
  vertical-align: middle;
}

table.picture {
  border-spacing: 0px;
  width:          100%;
  height:         100%;
}

td.picture {
  text-align:     center;
  vertical-align: middle;
}
/* title and info area */

div.title-area-line, div.info-area-content {
  visibility: hidden;

  position: absolute;
  bottom:        0px;
  left:          0px;
  height:       auto;
  min-height:  100px;
}

div.title-area-line-2560x1440, div.info-area-content-2560x1440 {
  padding-left:   20px;
  padding-right:  20px;
  padding-top:    15px;
  padding-bottom: 15px;
  width:        2100px;
}

div.title-area-line-1920x1200, div.info-area-content-1920x1200 {
  padding-left:   20px;
  padding-right:  20px;
  padding-top:    15px;
  padding-bottom: 15px;
  width:        1660px;
}

div.title-area-line-1600x1200, div.info-area-content-1600x1200 {
  padding-left:   20px;
  padding-right:  20px;
  padding-top:    15px;
  padding-bottom: 15px;
  width:        1360px;
}

div.title-area-line-1400x1050, div.info-area-content-1400x1050 {
  padding-left:   15px;
  padding-right:  15px;
  padding-top:    10px;
  padding-bottom: 10px;
  width:        1250px; /* 900 + 2*15 = 930, 120px left for navi */
}

div.title-area-line-1280x800, div.info-area-content-1280x800 {
  padding-left:   15px;
  padding-right:  15px;
  padding-top:    10px;
  padding-bottom: 10px;
  width:        1030px;
}

.forward {
  position: absolute;
  right:         0px;
  bottom:        0px;
  width:        75px;
  height:       75px;
}

.back {
  position: absolute;
  right:       100px;
  bottom:        0px;
  width:        75px;
  height:       75px;
}

.up {
  position: absolute;
  right:       100px;
  bottom:      100px;
  width:        75px;
  height:       75px;
}

/* ------------------------------------------------------------ */

table.head {
  width:             100%;
  min-height:       100px;
  height:            auto;
  border-spacing:     0px;

  background-color: transparent;
}

table.head tr td.head1 {
  padding:           15px;
  width:            160px;
  height:           120px;
  vertical-align:     top;

  background-color: transparent;
  border:         0px solid red;
}

table.head tr td.head2 {
  text-align:     left;
  vertical-align:  top;
  padding:        15px;

  background-color: transparent;
  border:         0px solid red;
}

table.head tr td.head3 {
  width: 260px;
  padding-top:    15px;
  padding-bottom: 15px;
  padding-left:   15px;
  padding-right:  15px;
  text-align:    right;
  vertical-align:  top;

  background-color: transparent;
  border: 0px solid red;
}

div.ruler {
  /* width:             1538px; */
  height:               5px;
  margin-left:         15px;
  margin-right:        15px;
  background-color: #bbbbbb;
}

div.blog-contents {
  max-width:           64em;
  margin-left:         15px;
  margin-right:        15px;
}

table.nav {
  background-color: transparent;
  border-spacing:           0px;
  border-collapse:     collapse;
  float:                  right;
}

table.nav tr td {
  padding: 3px;
}

img.icon-160x120,
img.icon-fix-160x120 {
  width:          160px;
  height:         120px;
  border: 0px solid red;
}

img.icon2-160x120,
img.icon2-fix-160x120 {
  width:           80px;
  height:          60px;
  border: 0px solid red;
}

img.icon-140x105,
img.icon-fix-140x105 {
  width:          140px;
  height:         105px;
  border: 0px solid red;
}

img.icon2-140x105,
img.icon2-fix-140x105 {
  width:           72px;
  height:          54px;
  border: 0px solid red;
}

img.icon-120x90,
img.icon-fix-120x90 {
  width:          120px;
  height:          90px;
  border: 0px solid red;
}

img.icon2-120x90,
img.icon2-fix-120x90 {
  width:           60px;
  height:          45px;
  border: 0px solid red;
}

div.album-content {
  margin-left:      5px;
  padding:          0px;
  background-color: transparent;
}

div.album-content > table {
  border-spacing:   10px;
  border: 0px solid red;
}

div.album-content > table tr td {
  background-color: transparent;
  border:       0px solid black;
}

div.text, div.blog-contents {
  text-align: left;
  margin: 2ex;
  max-width: 40em;
}

div.blog-contents h1 {
  font-size: 140%;
}

div.blog-contents h2 {
  font-size: 120%;
}


/* ------------------------------------------------------------ */
/*
animation of panorama images

the @keyframes moveToLeft rule must be generated
with javascript when loading the panorama.

@keyframes moveToLeft {
  from {left: 0px);}
  to   {left: calc(<screenWidth> - <panoWidth>);}
}

shift pic to the left by <panoWidth> - <screenWidth> pixel
*/

div.panorama {
  position: relative;
  overflow: hidden;
}

img.panorama {
  position: absolute;
  left:     0px;
  top:      0px;

  animation-name:            moveToLeft;
  animation-duration:        20s;  /* must be set by js to start animation */
  animation-delay:           2s;
  animation-iteration-count: 1;
  animation-direction:       alternate;
  animation-timing-function: ease-in-out;
  animation-play-state:      paused;
}

/* ------------------------------------------------------------ */
